.commerce-product-popup-overlay {
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}
.commerce-product-popup-window.panel {
  position: fixed;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: 0 0 4px 10px #dadada;
  z-index: 9999;
  min-width: 30%;
  max-width: 45%;
  width: auto;
  min-height: 50%;
  max-height: 80%;
  height: auto;
}

.commerce-product-popup-window button {
  display: block;
  width: 90%;
  padding: 10px;
  margin: auto;
}

.commerce-product-popup-window > .panel-body {
  margin: 0 auto;
  height: 100%;
  padding: 8px;
  width: auto;
}
.commerce-product-popup-image {
  height: 80%;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  background: #e4e4e4;
  padding: 15px;
}

#commerce-product-popup-admin-preview {
  width: 100px;
}

#commerce-product-popup-admin-preview > img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 3px #c9c9c9;
}

.commerce-product-popup-image img {
  box-shadow: 0 0 12px 6px #797979;
  height: 100%;
}

#edit-commerce-product-popup-yes {
  font-size: 20px;
  margin-bottom: 5px;
  white-space: normal;
}

#edit-commerce-product-popup-no {
  font-size: 13px;
  white-space: normal;
}

@media (max-width: 1100px) {
  .commerce-product-popup-window.panel {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .commerce-product-popup-window.panel {
    width: 60%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .commerce-product-popup-window.panel {
    width: 90%;
    border-radius: 0;
    box-shadow: none;
    max-width: none;
  }
}

@media (max-width: 568px) {
  .commerce-product-popup-window.panel {
    width: auto;
    border-radius: 0;
    box-shadow: none;
    max-width: 95%;
    max-height: 95%;
  }
  #edit-commerce-product-popup-yes {
    font-size: 14px;
  }
}
